
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <title>Helper</title>
    <script src="~/js/jose/jquery.min.js"></script>
    <link href="~/css/jose/select2.css" rel="stylesheet" type="text/css">
    <script src="~/js/jose/select2.full.js"></script>
    <link href="~/css/jose/select2-bootstrap.css" rel="stylesheet">
    <script src="~/js/jose/d3js.v4.min.js" charset="utf-8"></script>
    <script src="~/js/jose/color.js" charset="utf-8"></script>
    <script src="~/js/jose/d3-legend.js" charset="utf-8"></script>
    <link rel="stylesheet" href="~/css/jose/main.css">
</head>
<body>
    <script src="~/js/jose/main2.js"></script>

    <div id="selector" class="etiquetas div_selectores search">
        Selecciona un socio:
        <select class="categorias" dir="rtl" style="padding: 5px">
            <option></option>
        </select>
    </div>


    <div id="canvas" class="lienza">
    </div>
</body>
</html>
