
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscribir</title>

    

</head>
<body>
    <form action="../GobiernoCentral/Inscribir" method="post">
        <input type="text" id="whatsapp" name="whatsapp" />
        <input type="text" id="email" name="email" />
        <button type="submit">entrar</button>


    </form>
</body>
</html>
